.navtab {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  margin: 0;
}
.navtab__conteiner {
  list-style-type: none;
  text-align: center;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 96px;
  height: 36px;
  margin: 0 5px;
  background: #303030;
  border-radius: 10px;
}
.navtab__link {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}
.navtab__link:hover {
  opacity: 0.8;
}

@media (max-width: 500px) {
  .navtab__conteiner {
    font-size: 10px;
    width: 82px;
    height: 26px;
    margin: 0 3px;
    border-radius: 6px;
  }
}
